@charset "UTF-8";

@import url('//fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Righteous');

@font-face {
  font-family: 'player';
  src: url('#{$fonts-path}player.eot');
  src: url('#{$fonts-path}player.eot?#iefix') format('embedded-opentype'),
  url('#{$fonts-path}player.woff') format('woff'),
  url('#{$fonts-path}player.ttf') format('truetype'),
  url('#{$fonts-path}player.svg#player') format('svg');
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  content: attr(data-icon);
  font-family: 'player' !important;
  font-style: normal !important;
  font-variant: normal !important;
  font-weight: normal !important;
  line-height: 1;
  speak: none;
  text-transform: none !important;
}

[class^='i-']:before,
[class*=' i-']:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: 'player' !important;
  font-style: normal !important;
  font-variant: normal !important;
  font-weight: normal !important;
  line-height: 1;
  speak: none;
  text-transform: none !important;
}

.i-play:before {
  content: '\e000';
}

.i-stop:before {
  content: '\e001';
}

.i-pause:before {
  content: '\e002';
}

.i-backward:before {
  content: '\e003';
}

.i-fast-backward:before {
  content: '\e004';
}

.i-forward:before {
  content: '\e005';
}

.i-fast-forward:before {
  content: '\e006';
}

.i-volume-off:before {
  content: '\e007';
}

.i-volume-down:before {
  content: '\e008';
}

.i-volume-up:before {
  content: '\e009';
}

.i-mute:before {
  content: '\e00a';
}

.i-play-circle:before {
  content: '\e00b';
}

.i-play-circle-o:before {
  content: '\e00c';
}

.i-heart:before {
  content: '\e00d';
}

.i-heart-o:before {
  content: '\e00e';
}

.i-refresh:before {
  content: '\e00f';
}

.i-repeat:before {
  content: '\e010';
}

.i-times:before {
  content: '\e011';
}

.i-arrow-circle-o-down:before {
  content: '\e012';
}

.i-cloud-download:before {
  content: '\e013';
}

.i-history:before {
  content: '\e014';
}

.i-info-circle:before {
  content: '\e015';
}

.i-question-circle:before {
  content: '\e016';
}

.i-music:before {
  content: '\e017';
}

.i-star-o:before {
  content: '\e018';
}

.i-star-half-o:before {
  content: '\e019';
}

.i-star-half:before {
  content: '\e01a';
}

.i-star:before {
  content: '\e01b';
}

.i-thumbs-up:before {
  content: '\e01c';
}

.i-wrench:before {
  content: '\e01d';
}
