$media-path: '../media/';
$fonts-path: '../fonts/';

$enable-flex: true;
$enable-transitions: true;
$grid-gutter-width: 3rem;

$grid-breakpoints: (
  xs: 0,
  ix: 400px,
  sm: 480px,
  is: 600px,
  md: 769px,
  im: 880px,
  lg: 1024px,
  xl: 1280px
);

$container-max-widths: (
  ix: 100%,
  sm: 100%,
  is: 100%,
  md: 100%,
  im: 100%,
  lg: 96rem,
  xl: 114rem
);

$background-color: #4f4f4f;
$brand-primary: #3c81bb;
$btn-primary-color: #fff;

$font-size-base: 1.6rem;
$font-size-xs: 1rem;
$font-size-sm: 1.3rem;
$font-size-lg: 2rem;
$headings-font-weight: 700;

$gray-10: #ececec;
$gray-20: #e2e2e2;
$gray-30: #ccc;
