.radio-player {
  &__show {
    margin-top: $grid-gutter-width;
  }

  &__listening {
    color: $text-muted;
    font-style: italic;
  }

  &__title {
    color: $brand-primary;
    font-size: 2.4rem;
  }

  &__description {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  &__time {
    color: $text-muted;
    font-size: 1.2rem;
    margin-top: 0.5rem;
  }

  &--main {
    background-color: $background-color;
    border-radius: 0.3rem;
    max-width: 64rem;
    min-height: 8rem;
    min-width: 29rem;
    padding: 1.2rem;
    position: relative;

    .jp-controls {
      float: left;
    }

    .jp-details {
      color: #fff;
      margin-left: $grid-gutter-width * 1.5;
    }

    .jp-title {
      font-size: 1.4rem;
      font-weight: 600;
      height: 3.9rem;
      line-height: 1.8rem;
      overflow: hidden;

      @include md {
        font-size: 1.8rem;
      }
    }

    .jp-next {
      border-top: 0.1rem solid $brand-primary;
      color: #fff;
      font-size: 1.4rem;
      font-style: italic;
      margin-top: 1rem;
      padding-top: 0.5rem;
    }

    .jp-volume-controls {
      margin-top: $grid-gutter-width / 6;

      @at-root .mobile & {
        display: none;
      }

      > a {
        display: inline-block;
        height: 2rem;
        text-align: left;
        vertical-align: middle;
        width: 2rem;

        &:last-of-type {
          text-align: right;
        }

        &:hover,
        &:focus {
          color: darken($brand-primary, 10);
          outline: none;
          text-decoration: none;
        }
      }

      .jp-mute {
        float: left;
      }

      .jp-volume-max {
        float: right;
      }
    }

    .jp-volume-bar {
      background-color: #ccc;
      border-radius: 0.3rem;
      margin-left: 2.4rem;
      margin-right: 2.4rem;
      overflow: hidden;
      position: relative;
      top: 0.5rem;
      vertical-align: middle;

      &:hover,
      &:focus {
        background-color: #bbb;
      }
    }

    .jp-volume-bar-value {
      background-color: $brand-primary;
      height: 1rem;

      &:hover,
      &:focus {
        background-color: darken($brand-primary, 10);
      }
    }

    .jp-live {
      background-color: #f00;
      border-radius: 0 0 6px 6px;
      bottom: 0;
      color: #fff;
      font-size: 1.4rem;
      left: 50%;
      line-height: 1;
      padding: 0.2rem 2rem 0.5rem;
      position: absolute;
      transform: translate(-50%, 100%);
    }

    &.live {
      margin-bottom: 3rem;
      padding: 2rem;

      .jp-next {
        display: none;
      }
    }
  }
}
